@model IEnumerable<Character>

@{
    ViewData["Title"] = "Leaderboard";
}

<h1>Leaderboard</h1>

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Wins</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.ElementAt(i).Name</td>
                    <td>@Model.ElementAt(i).Wins</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No battles have been fought yet.</p>
}
